

<!-- <div class="outer-shell"> -->
  <mat-toolbar color="primary" class="example-toolbar">
    {{model._003name}}【身份證】{{model._001ID_number}}【流水單號】{{model.accessionNumber}}
  </mat-toolbar>

  <!-- <mat-divider class="-mx-6 text-border"></mat-divider> -->

  <div fxLayout="row" fxLayoutAlign="start center" mat-dialog-title>

    <button
      [matMenuTriggerFor]="settingsMenu"
      class="text-secondary"
      mat-icon-button
      type="button"
    >
      <mat-icon [icIcon]="icMoreVert"></mat-icon>
    </button>

    <button
      class="text-secondary"
      mat-dialog-close
      mat-icon-button
      type="button"
    >
      <mat-icon [icIcon]="icClose"></mat-icon>
    </button>
  </div>
  <mat-divider class="-mx-6 text-border"></mat-divider>
  

  <form [formGroup]="form" (ngSubmit)="save()">
    <mat-dialog-content fxLayout="column">
      
      <formly-form
        [model]="model"
        [fields]="fields"
        [form]="form"
        [options]="options"
      ></formly-form>

      <div
        class="button-row"
        style="
          display: flex;
          flex-direction: row;
          justify-content: space-between;
        "
      ></div>
    </mat-dialog-content>

    <mat-dialog-actions align="end">
      <!-- <button type="reset" mat-raised-button>Clear</button> -->
      <button mat-button mat-dialog-close type="button">CANCEL</button>
      <button *ngIf="isCreateMode()" color="primary" mat-button type="submit">
        CREATE CUSTOMER
      </button>
      <button *ngIf="isUpdateMode()" color="primary" mat-button type="submit">
        UPDATE CUSTOMER
      </button>
    </mat-dialog-actions>
  </form>

  <app-form-debug [form]="form.value" [model]="model"></app-form-debug>
<!-- </div> -->

<mat-menu #settingsMenu="matMenu" xPosition="before" yPosition="below">
  <button mat-menu-item (click)="toggleDisabled()">
    <mat-icon [icIcon]="icPrint" ></mat-icon>
    <span>Print</span>
  </button>

  <button mat-menu-item>
    <mat-icon [icIcon]="icDownload"></mat-icon>
    <span>Export</span>
  </button>

  <button mat-menu-item>
    <mat-icon [icIcon]="icDelete"></mat-icon>
    <span>Delete</span>
  </button>
</mat-menu>
