@import "~simplebar/dist/simplebar.css";
@import "~highlight.js/styles/androidstudio.css";
// Vex Core
@import "./@vex/styles/core";

/*
  You can override any CSS Variable or style here
  Example:

  :root {
   --sidenav-background: #333333;
  }

  All possible variables can be found in @vex/styles/core or by simply inspecting the element you want to change
  in Chrome/Firefox DevTools
*/

/**
  Uncomment the below code and adjust the values to fit your colors, the application will automatically adjust
 */
:root {
  // --color-primary: blue;
  // --color-primary-contrast: white;

  // --color-accent: yellow;
  // --color-accent-contrast: black;

  // --color-warn: yellow;
  // --color-warn-contrast: black;
}

/* for aio-table table */
.mat-row:hover .mat-cell {
  border-color: currentColor;
}

.demo-row-is-clicked {
  font-weight: bold;
  background-color: lightgrey;
}


#formly_93_radio__011payment_4{
  flex-direction: row;
}

//for radio
.mat-radio-label-content {
  margin-right: 10px;
}

.title1 {
  font-size: large;
  font-weight: bold;
  color: blue;
}
.title2 {
  font-size: larger;
  font-weight: bold;
  color: rgba(0, 0, 255, 0.637);
}
.title3 {
  // font-size: medium;
  font-weight: bold;
  font-style: italic;
}

.section-label {
}

.mat-form-field-infix {
  width: auto !important;
}

.display-flex {
  display: flex;
}

.display-column {
  display: inline-block;
  flex-direction: column;
  border: 5px solid red;
  color: rebeccapurple;
}

.flex-1 {
  flex: 1 0 auto;
}

.flex-2 {
  flex: 2 0 auto;
}

.flex-3 {
  flex: 3 0 auto;
}

.flex-4 {
  flex: 4 0 auto;
}

.flex-5 {
  flex: 5 0 auto;
}

.flex-6 {
  flex: 6 0 auto;
}

[class*='flex-'] {
  padding-left: 10px;
  padding-right: 10px;
}

[class*='flex-']:first-child {
  padding-left: 0;
}

[class*='flex-']:nth-last-child(2) {
  padding-right: 0;
}